html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-main-nav__list,
.c-main-nav__dropdown-menu,
.c-pricing__list,
.c-link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-family: "Raleway", sans-serif;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.btn {
  padding: .5em 1.5em;
  -webkit-box-shadow: 0 5px 25px rgba(197, 197, 197, 0.5);
          box-shadow: 0 5px 25px rgba(197, 197, 197, 0.5);
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  border-radius: 8px;
  background-color: #325dff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05rem;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: 0 15px 16px -10px rgba(34, 34, 34, 0.5);
          box-shadow: 0 15px 16px -10px rgba(34, 34, 34, 0.5);
}

.btn--secondary {
  background-color: #45e791;
}

.c-main-nav,
.c-hero,
.c-section__header,
.c-section--container,
.c-pricing-container,
.c-dashboard__header,
.c-dashboard__card-container {
  padding-right: 10%;
  padding-left: 10%;
}

.c-section--link-container,
.c-link-header {
  padding-right: 20px;
  padding-left: 20px;
}

.table {
  position: relative;
}

.table::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: #FFFFFF;
  content: '';
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  background: transparent;
  font-size: 13px;
  white-space: nowrap;
}

table thead {
  padding-bottom: 3px;
}

table thead .mdl-data-table__select {
  margin-top: 0;
}

table tbody tr {
  position: relative;
  height: 48px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

table tbody tr.is-selected {
  background-color: #e0e0e0;
}

table tbody tr:hover {
  background-color: #eeeeee;
}

table td,
table th {
  padding: 0 18px 12px 18px;
  text-align: left;
}

table td:first-of-type,
table th:first-of-type {
  padding-left: 24px;
}

table td:last-of-type,
table th:last-of-type {
  padding-right: 24px;
}

table td {
  position: relative;
  vertical-align: middle;
  height: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table td .mdl-data-table__select {
  vertical-align: middle;
}

table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  height: 48px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table th.mdl-data-table__header--sorted-ascending,
table th.mdl-data-table__header--sorted-descending {
  color: rgba(0, 0, 0, 0.87);
}

table th.mdl-data-table__header--sorted-ascending:before,
table th.mdl-data-table__header--sorted-descending:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  content: "\E5D8";
  margin-right: 5px;
  vertical-align: sub;
}

table th.mdl-data-table__header--sorted-ascending:hover,
table th.mdl-data-table__header--sorted-descending:hover {
  cursor: pointer;
}

table th.mdl-data-table__header--sorted-ascending:hover:before,
table th.mdl-data-table__header--sorted-descending:hover:before {
  color: rgba(0, 0, 0, 0.26);
}

table th.mdl-data-table__header--sorted-descending:before {
  content: "\E5DB";
}

.c-main-nav {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(50, 93, 255, 0.2);
  background-color: #FFFFFF;
  z-index: 17;
}

.c-main-nav__logo {
  height: 36px;
  margin-right: 20px;
}

.c-main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-main-nav__list--right {
  margin-left: auto;
}

.c-main-nav__item {
  margin: 0 20px;
}

.c-main-nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  color: #325dff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 60px;
  text-decoration: none;
}

.c-main-nav__link::after {
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 2px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity .3s ease-in-out, width .3s ease-in-out;
  transition: opacity .3s ease-in-out, width .3s ease-in-out;
  border-radius: 4px;
  background-color: #325dff;
  content: '';
  opacity: 0;
}

.c-main-nav__link:hover::after {
  width: 30px;
  opacity: 1;
}

.c-main-nav__dropdown {
  position: relative;
}

.c-main-nav__dropdown-menu {
  display: none;
  top: 100%;
  left: 50%;
  position: absolute;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  min-width: 150px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2px;
  background-color: #FFFFFF;
}

.c-main-nav__dropdown-link {
  display: block;
  height: 48px;
  padding: 0 16px;
  color: #636363;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 48px;
  text-decoration: none;
}

.c-main-nav__dropdown-link:hover {
  background-color: #d2d2d2;
}

.c-main-nav__dropdown:hover > .c-main-nav__dropdown-menu {
  display: block;
}

.c-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.c-hero::before {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 40%;
  background-image: url(/images/side-wave.svg?16d83d6de0695016ba0924fe9ea44420);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
  content: '';
}

.c-hero__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#325dff), to(#45e791));
  background-image: linear-gradient(to right, #325dff, #45e791);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
  font-size: 3.375rem;
  line-height: 1.33333333;
  font-weight: 300;
}

.c-hero__description {
  margin-bottom: 10px;
  color: grey;
}

.c-link-input {
  position: relative;
  margin: 20px 0;
  padding-top: 1em;
  overflow: hidden;
}

.c-link-input__input {
  display: inline-block;
  float: right;
  width: 100%;
  padding: 0.5em 0em 0.25em;
  border: 0;
  outline: none;
}

.c-link-input__input:focus + .c-link-input__label,
.c-link-input__input.is-changed + .c-link-input__label {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
          transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.c-link-input__input:focus ~ .c-link-input__svg,
.c-link-input__input.is-changed ~ .c-link-input__svg {
  -webkit-transform: translate3d(-66.6%, 0, 0);
          transform: translate3d(-66.6%, 0, 0);
}

.c-link-input__label {
  top: 0.95em;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: color 1s, -webkit-transform .2s .15s;
  transition: color 1s, -webkit-transform .2s .15s;
  transition: transform .2s .15s, color 1s;
  transition: transform .2s .15s, color 1s, -webkit-transform .2s .15s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71428571;
  pointer-events: none;
}

.c-link-input__svg {
  top: 0;
  left: 0;
  position: absolute;
  fill: none;
  stroke: url(#linegrad);
  stroke-width: 2px;
  -webkit-transition: stroke 0.7s, -webkit-transform 0.7s;
  transition: stroke 0.7s, -webkit-transform 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s, -webkit-transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
          transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  pointer-events: none;
}

.c-link-input-checkbox {
  position: relative;
  margin-bottom: 20px;
}

.c-link-input-checkbox__input,
.c-link-input-checkbox__label::before {
  width: 22px;
  height: 22px;
  top: 50%;
  left: 0;
  margin-top: -11px;
  position: absolute;
  cursor: pointer;
}

.c-link-input-checkbox__input {
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
}

.c-link-input-checkbox__label {
  display: inline-block;
  position: relative;
  padding: 0 0 0 32px;
}

.c-link-input-checkbox__label::before {
  content: '';
  border: 2px solid #45e791;
  border-radius: 4px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.c-link-input-checkbox svg {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  left: 4px;
  pointer-events: none;
}

.c-link-input-checkbox path {
  stroke: grey;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-width: 8px;
}

.c-link-box {
  position: relative;
  margin-top: 30px;
  padding: 30px;
  padding-left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
  opacity: 0;
  color: #fff;
}

.c-link-box::before {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100vw;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #325dff;
  content: '';
  z-index: -1;
}

.c-link-box--visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

.c-link-box__input {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-weight: bold;
  white-space: nowrap;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.c-scroll-down {
  bottom: 0;
  left: 10%;
  position: absolute;
  width: 500px;
  height: 120px;
  background-image: url(/images/bottom-wave.svg?95c79261db086dc9474511dbfd15303b);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.c-scroll-down__mouse {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 38px;
  width: 24px;
  margin-right: 20px;
  border-radius: 14px;
  border: 2px solid #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-scroll-down__mouse::before {
  position: absolute;
  top: 5px;
  left: 50%;
  height: 6px;
  width: 6px;
  margin-left: -3px;
  border-radius: 50%;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #FFFFFF;
  content: '';
}

.c-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.c-section__header {
  position: relative;
  background-color: #45e791;
  margin-bottom: 120px;
  padding: 30px;
  text-align: center;
}

.c-section__header-content {
  position: relative;
  top: 0;
  right: 10%;
  bottom: 0;
  left: 10%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  z-index: 2;
}

.c-section__header::after {
  position: relative;
  display: block;
  top: 100px;
  left: -135px;
  width: 150%;
  height: 100px;
  -webkit-box-shadow: 0 20px 10px -20px rgba(37, 37, 37, 0.25);
          box-shadow: 0 20px 10px -20px rgba(37, 37, 37, 0.25);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  background: inherit;
  z-index: 0;
  content: '';
}

.c-section__header-title {
  margin: 0;
}

.c-section--pricing {
  height: auto;
  padding-bottom: 100px;
}

.c-section--dark {
  background-color: #EFF6F9;
}

.c-pricing {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: auto;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #FFFFFF;
}

.c-pricing.empty-box {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-pricing.empty-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f8ff;
}

.c-pricing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
}

.c-pricing__header,
.c-pricing__list,
.c-pricing__footer {
  padding: 10px 20px;
}

.c-pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-pricing__item--disabled {
  opacity: .3;
}

.c-pricing__header {
  position: relative;
  overflow: hidden;
}

.c-pricing__header::before {
  top: 0;
  bottom: 0;
  left: -10px;
  position: absolute;
  width: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #45e791;
  content: '';
}

.c-pricing__title {
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333333;
  font-weight: 300;
  text-transform: uppercase;
}

.c-pricing__price {
  color: #45e791;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

.c-pricing__price-cur {
  margin-left: 4px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
}

.c-pricing__list {
  margin-top: 20px;
}

.c-pricing__list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #eeeeee;
}

.c-pricing__footer {
  text-align: center;
}

.c-pricing__footer-btn {
  display: block;
  width: 100%;
  padding: .5em 1.5em;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.example.example2 .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin: 0 5px 10px;
}

.example.example2 .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.example.example2 .field.half-width {
  width: 50%;
}

.example.example2 .field.quarter-width {
  width: calc(25% - 10px);
}

.example.example2 .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  cursor: text;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

.example.example2 .input::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input::-moz-placeholder {
  color: transparent;
  -webkit-transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input.StripeElement {
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.example.example2 .input.focused,
.example.example2 .input:not(.empty) {
  opacity: 1;
}

.example.example2 .input.focused::-webkit-input-placeholder,
.example.example2 .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused::-moz-placeholder,
.example.example2 .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused:-ms-input-placeholder,
.example.example2 .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused + label,
.example.example2 .input:not(.empty) + label {
  color: #aab7c4;
  -webkit-transform: scale(0.85) translateY(-25px);
          transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.example.example2 .input.focused + label {
  color: #24b47e;
}

.example.example2 .input.invalid + label {
  color: #ffa27b;
}

.example.example2 .input.focused + label + .baseline {
  background-color: #24b47e;
}

.example.example2 .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.example.example2 input,
.example.example2 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example2 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example2 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.example.example2 .error svg {
  margin-top: 0 !important;
}

.example.example2 .error svg .base {
  fill: #e25950;
}

.example.example2 .error svg .glyph {
  fill: #fff;
}

.example.example2 .error .message {
  color: #e25950;
}

.example.example2 .success .icon .border {
  stroke: #abe9d2;
}

.example.example2 .success .icon .checkmark {
  stroke: #24b47e;
}

.example.example2 .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.example.example2 .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.example.example2 .success .reset path {
  fill: #24b47e;
}

.c-pricing-modal {
  position: fixed;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: visibility 0s 0.8s;
  transition: visibility 0s 0.8s;
  border-radius: 8px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: hidden;
  z-index: 37;
}

.c-pricing-modal__copy,
.c-pricing-modal__content {
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.c-pricing-modal__copy {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 2;
}

.c-pricing-modal__copy > * {
  width: 100%;
}

.c-pricing-modal__content {
  padding-right: 20px;
}

.c-pricing-modal__form {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.c-pricing-modal__form.is-scrollable {
  overflow-y: auto;
}

.c-pricing-modal.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.c-pricing-modal-overlay {
  position: fixed;
  z-index: 27;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(50, 93, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
  transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
}

.c-pricing-modal-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.8s 0s, visibility 0s 0s;
  transition: opacity 0.8s 0s, visibility 0s 0s;
}

.c-pricing-modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.c-pricing-modal__field {
  position: relative;
  width: 100%;
  height: 50px;
  margin-right: 10px;
}

.c-pricing-modal__label {
  bottom: 8px;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  color: #d2d2d2;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
}

.c-pricing-modal__input {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px dashed #d2d2d2;
  background-color: transparent;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.c-pricing-modal__input::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-pricing-modal__input:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-pricing-modal__input::-ms-input-placeholder {
  color: transparent;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-pricing-modal__input::placeholder {
  color: transparent;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.c-pricing-modal__input:focus,
.c-pricing-modal__input.is-changed {
  border-bottom-color: #45e791;
}

.c-pricing-modal__input:focus + .c-pricing-modal__label,
.c-pricing-modal__input.is-changed + .c-pricing-modal__label {
  color: #45e791;
  -webkit-transform: scale(0.85) translateY(-25px);
          transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.c-pricing-modal__input:focus::-webkit-input-placeholder,
.c-pricing-modal__input.is-changed::-webkit-input-placeholder {
  color: #c0c0c0;
}

.c-pricing-modal__input:focus:-ms-input-placeholder,
.c-pricing-modal__input.is-changed:-ms-input-placeholder {
  color: #c0c0c0;
}

.c-pricing-modal__input:focus::-ms-input-placeholder,
.c-pricing-modal__input.is-changed::-ms-input-placeholder {
  color: #c0c0c0;
}

.c-pricing-modal__input:focus::placeholder,
.c-pricing-modal__input.is-changed::placeholder {
  color: #c0c0c0;
}

.c-pricing-modal__footer {
  margin-top: 20px;
  text-align: right;
}

.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.submitted .success,
.submitting .success {
  pointer-events: all;
}

.submitted .success {
  opacity: 1;
}

.submitted .c-pricing-modal__copy,
.submitted .c-pricing-modal__content {
  opacity: 0 !important;
}

.submitting .success .icon {
  opacity: 1;
}

.submitted .success > * {
  opacity: 1;
  -webkit-transform: none !important;
          transform: none !important;
}

.submitted .success > :nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.submitted .success > :nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.submitted .success > :nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.submitted .success .icon .border,
.submitted .success .icon .checkmark {
  opacity: 1;
  stroke-dashoffset: 0 !important;
}

.success .icon .border {
  stroke: #abe9d2;
}

.success .icon .checkmark {
  stroke: #24b47e;
}

.success .title {
  color: #32325d;
  font-size: 16px !important;
}

.success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.success .reset path {
  fill: #24b47e;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  left: 0;
  padding: 0 15px;
  font-size: 13px !important;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.error.visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.error .message {
  font-size: inherit;
}

.error svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: -1px;
  margin-right: 10px;
}

.error svg {
  margin-top: 0 !important;
}

.error svg .base {
  fill: #e25950;
}

.error svg .glyph {
  fill: #fff;
}

.error .message {
  color: #e25950;
}

.c-dashboard__header {
  padding-top: 100px;
}

.c-dashboard__header-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  font-weight: 300;
}

.c-dashboard__chart {
  position: relative;
  height: 65vh;
}

.c-dashboard__chart::before {
  top: 70%;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
  content: '';
}

.c-dashboard__card {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: auto;
  padding: 20px;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #FFFFFF;
}

.c-dashboard__card-num {
  margin-bottom: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

.c-dashboard__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-link-header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding-top: 100px;
}

.c-link-header__info {
  margin-top: auto;
  margin-bottom: auto;
}

.c-link-header__info-title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 12px;
  color: #d2d2d2;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.84615385;
  font-weight: 300;
  text-transform: uppercase;
}

.c-link-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.c-link-list__desc {
  color: #b9b8b8;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
}

.c-link-list__num {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333333;
  font-weight: 300;
  color: #222222;
}

.c-link-list--graph {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.c-link-list--graph__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 4px;
}

.c-link-list--graph__bar {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(rgba(69, 231, 145, 0)), to(rgba(69, 231, 145, 0.2)));
  background: linear-gradient(to left, rgba(69, 231, 145, 0), rgba(69, 231, 145, 0.2));
  z-index: -1;
}

.c-link-list--graph__desc {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.84615385;
  font-weight: 300;
}

.c-login-canvas {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.c-login-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-login__box {
  position: relative;
  width: 50%;
  padding: 20px;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #FFFFFF;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0);
            transform: translate3d(-50%, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0);
            transform: translate3d(-50%, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

.c-alert {
  bottom: 0;
  left: 50%;
  position: fixed;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 400px;
  padding: 5px 15px;
  -webkit-transform: translate3d(-50%, 100%, 0);
          transform: translate3d(-50%, 100%, 0);
  -webkit-animation: slide-in .3s forwards;
          animation: slide-in .3s forwards;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  z-index: 47;
}

.c-alert--success {
  background-color: #39b54a;
}

.c-alert--error {
  background-color: #f04e4e;
}

.c-alert--info {
  background-color: #325dff;
}

.dataTables_paginate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 2em 0;
}

.dataTables_paginate .paginate_button {
  display: inline-block;
  height: 32px;
  padding: 0 1em;
  margin: 0 5px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  border-radius: 4px;
  border: 0;
  background: none;
  color: #23272b;
  line-height: 32px;
  cursor: pointer;
}

.dataTables_paginate .paginate_button:hover {
  color: #325dff;
  text-decoration: none;
}

.dataTables_paginate .paginate_button.current {
  color: #fff;
  background-color: #45e791;
}

.dataTables_paginate .paginate_button:disabled {
  color: #23272b;
  opacity: .5;
  cursor: not-allowed;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-flex--s-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.icon-l {
  margin-right: 8px;
}

